body {
	font-family: Arial;
	width: 1650px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	

	
}

 .game-title {
	background-color: #66CCFF;
	margin-top: 210px;
	font-size: 72px;
	width: 100%;
	text-align: center;

	color: white;
	width: 1400px;
}

section{
	text-align: center;
	height: 700px;
	width: 910px;
	margin-bottom: 350px;
	margin-left:0;
	margin-right: 0;
	background: #EEE;
}

.game--container{
	display: grid;
	grid-template-columns: repeat(3,auto);
	width:350px;
	margin:50px auto;
	
}
button {
	background-color: hotpink;
	color: white;
	height:25px;
	
}

.cell{
	font-family: "Comic Sans MS";
	font-size: 149%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: hotpink;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 0 7px #66CCFF;
	border:7px solid #66CCFF;
	cursor: pointer;
}

@media all and  (min-width: 800px){




	section{
		
		width: 1220px;
	}
	
}